.e-do-a-1111 {
position: fixed!important;
bottom: 0;
width: 100%;
z-index: 99999;
-webkit-box-shadow: 0px -15px 10px -15px #111;
-moz-box-shadow: 0px -15px 10px -15px #111;
box-shadow: 0px -15px 10px -15px #111;
}
.e-do-a-2222 {
display: block;
text-align: center;
padding-bottom: 12px;
padding-top: 4px;
background: #d70808;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #15048e,#d70808);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #15048e,#d70808); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#e-do-a-3333 {
width: 91%;
margin: 0 auto;
overflow-y: hidden;
overflow-x: auto;
display: flex;
}
#e-do-a-3333 .e-co-333 {
margin-bottom: 3px !important;
margin-left: 3px !important;
margin-right: 3px !important;
font-size: 2em !important;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
border: none;
color: #ffffff;
}
.e-do-a-4444{
width: 90%;
position: relative;
outline: 0;
text-align: center;
margin: 0 auto;
padding-top: 2px;
}
#e-do-a-5555 {
display: block;
width: 100%;
margin: 0 auto;
outline: 0;
height: 47px;
padding: 0;
padding-left: 6px;
border: none;
font-size: 18px;
border-top-left-radius: 40px;
border-bottom-left-radius: 40px;
background: #fff;
color: #2a2075;
}
#close-icon {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
position: absolute;
padding: 2px 16px;
color: #9d0202;
cursor: pointer;
right: 72px;
top: 0px;
font-size: 25px;
-webkit-tap-highlight-color: transparent;
background: transparent;
z-index: 99;
}
#copy{
cursor: pointer;
border-bottom-left-radius: 20px;
color: #fff;
padding: 10px;
background: #d70808;
position: absolute;
top: 1px;
right: -6px;
z-index: 100;
font-weight: 800;
text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
0px 8px 13px rgba(0,0,0,0.1),
0px 18px 23px rgba(0,0,0,0.1);
}
#copy:hover{
background: #15048e;
}
.e-co-111 {
padding: 0px 5px;
margin: 60px 0;
text-align: center;
}
.e-co-222{
max-width: 1200px;
width: 100%;
margin: 0 auto;
}
.e-co-333 {
font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
cursor: pointer;
text-align: center;
font-size: 2.4em;
border-top: 1px solid transparent;
border-left: 1px solid transparent;
border-right: 1px solid #eee;
border-bottom: 1px solid #eee;
display: inline-block;
vertical-align: middle;
margin: 0 !important;
padding: 0 !important;
line-height: 1.5em;
outline: none;
width: calc(100% / 15);
}
.e-co-333:hover {
}
.copied {
position: fixed;
width: 92%;
right:  4%;
bottom: 23%;
text-align: center;
border-radius: 20px;
z-index: 100000;
color: #ffffff;
padding: 8px 0;
-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .41);
-moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, .41);
box-shadow: 0 0 8px 0 rgba(0, 0, 0, .41);
background: #d70808;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #15048e,#d70808);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #15048e,#d70808); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
p.copied span {
font-size: 24px;
width: 100%;
border-radius: 20px;
}
p.copied .text {
color: #fff;
border-radius: 20px;
font-size: 24px;
text-align: center;
border: none;
width: 100%;
background: #d70808;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #15048e,#d70808);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #15048e,#d70808); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
::selection {
background: none;
}
::-moz-selection {
background: none;
}
::-webkit-selection {
background: none;
}
::-webkit-scrollbar {
width: 3px;
}
::-webkit-scrollbar-track {
background: #15048e;
}
::-webkit-scrollbar-thumb {
background: #d70808;
}
body,
header,
footer{
display: block;
}
html,
body,
{
padding: 0;
margin: 0;
}
body {
background: #ffffff;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
line-height: 1.8;
width: 100%;
font-size: 16px;
}
*{
margin: 0;
padding: 0;
}
h1,
h2,
h3 {
text-shadow: 0px 2px 3px rgba(0,0,0,0.4), 0px 4px 7px rgba(0,0,0,0.1), 0px 9px 12px rgba(0,0,0,0.1);
line-height: 1;
}
h2{
margin: 40px 0;
color: #b51131;
font-size: 2.2em;
border-bottom: 2px solid #b51131;
padding-bottom: 20px;
}
img{
margin: 20px 0;
width: 100%;
max-width: 1160px;
}
#st-es-01 {
text-shadow: 0px 2px 3px rgba(0,0,0,0.4), 0px 4px 7px rgba(0,0,0,0.1), 0px 9px 12px rgba(0,0,0,0.1);
font-size: 36px;
letter-spacing: 2px;
}
#pt-es-11{
font-size: 32px;
text-align: center;
}
a {
text-decoration: none;
cursor: pointer;
}
mark{
color: #000;
background: #ff0;
}
.ee-ui-11{
padding: 0 5px;
margin: 20px 0;
text-align: center;
}
.ee-ui-11 a{
display: inline-block;
color: #333;
}
header {
text-align: center;
font-family: 'Pacifico', cursive;
padding: 9px 0;
color: #fff;
border-bottom: 1px solid #0b0909;
box-shadow: 0 19px 25px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
-moz-box-shadow: 0 19px 25px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
-webkit-box-shadow: 0 19px 25px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
background: #d70808;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #15048e,#d70808);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #15048e,#d70808); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sh-es-11{
width: 80%;
margin: 30px auto;
text-align: left;
}
.son-es-01{
font-size: 13px;
color: #9d9393;
text-transform: uppercase;
}
.info{
text-align: center;
padding: 5px 0;
background: #393836;
-webkit-box-shadow: 0px -8px 8px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -8px 8px -7px rgba(0,0,0,0.75);
box-shadow: 0px -8px 8px -7px rgba(0,0,0,0.75);
}
.info a{
display: inline-block;
margin: 5px;
text-transform: uppercase;
color: #fff;
}
footer {
text-align: center;
color: #fff;
padding-top: 20px;
padding-bottom: 70px;
border-top: 1px solid #0b0909;
background: #d70808;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #15048e,#d70808);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #15048e,#d70808); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-box-shadow: 0px -8px 8px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -8px 8px -7px rgba(0,0,0,0.75);
box-shadow: 0px -8px 8px -7px rgba(0,0,0,0.75);
}
.resp-sharing-button__link,
.resp-sharing-button__icon {
display: inline-block;
}
.resp-sharing-button__link {
text-decoration: none;
color: #fff;
margin-left: 1px;
margin-top: 4px;
}
.resp-sharing-button {
border-radius: 3px;
transition: 25ms ease-out;
padding: 5px 12px;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
.resp-sharing-button__icon svg {
width: 1em;
height: 1em;
margin-right: 0.4em;
vertical-align: top;
}
.resp-sharing-button--small svg {
margin: 0;
vertical-align: middle;
}
/* Non solid icons get a stroke */
.resp-sharing-button__icon {
stroke: #fff;
fill: none;
}
/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
fill: #fff;
stroke: none;
}
.resp-sharing-button--twitter {
background-color: #55acee;
}
.resp-sharing-button--twitter:hover {
background-color: #2795e9;
}
.resp-sharing-button--pinterest {
background-color: #bd081c;
}
.resp-sharing-button--pinterest:hover {
background-color: #8c0615;
}
.resp-sharing-button--facebook {
background-color: #3b5998;
}
.resp-sharing-button--facebook:hover {
background-color: #2d4373;
}
.resp-sharing-button--tumblr {
background-color: #35465C;
}
.resp-sharing-button--tumblr:hover {
background-color: #222d3c;
}
.resp-sharing-button--reddit {
background-color: #5f99cf;
}
.resp-sharing-button--reddit:hover {
background-color: #3a80c1;
}
.resp-sharing-button--google {
background-color: #dd4b39;
}
.resp-sharing-button--google:hover {
background-color: #c23321;
}
.resp-sharing-button--linkedin {
background-color: #0077b5;
}
.resp-sharing-button--linkedin:hover {
background-color: #046293;
}
.resp-sharing-button--email {
background-color: #777;
}
.resp-sharing-button--email:hover {
background-color: #5e5e5e;
}
.resp-sharing-button--xing {
background-color: #1a7576;
}
.resp-sharing-button--xing:hover {
background-color: #114c4c
}
.resp-sharing-button--whatsapp {
background-color: #25D366;
}
.resp-sharing-button--whatsapp:hover {
background-color: #1da851;
}
.resp-sharing-button--hackernews {
background-color: #FF6600;
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }
.resp-sharing-button--vk {
background-color: #507299;
}
.resp-sharing-button--vk:hover {
background-color: #43648c;
}
.resp-sharing-button--facebook {
background-color: #3b5998;
border-color: #3b5998;
}
.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
background-color: #2d4373;
border-color: #2d4373;
}
.resp-sharing-button--twitter {
background-color: #55acee;
border-color: #55acee;
}
.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
background-color: #2795e9;
border-color: #2795e9;
}
.resp-sharing-button--tumblr {
background-color: #35465C;
border-color: #35465C;
}
.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
background-color: #222d3c;
border-color: #222d3c;
}
.resp-sharing-button--email {
background-color: #777777;
border-color: #777777;
}
.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
background-color: #5e5e5e;
border-color: #5e5e5e;
}
.resp-sharing-button--whatsapp {
background-color: #25D366;
border-color: #25D366;
}
.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
background-color: #1DA851;
border-color: #1DA851;
}
.resp-sharing-button--telegram {
background-color: #54A9EB;
}
.resp-sharing-button--telegram:hover {
background-color: #4B97D1;}
.space{
text-align: center;
margin: 50px 0;
}
.homepage,.ct-es-111,.ct-es-112,.ct-es-113,.ct-es-114,.ct-es-115,.ct-es-116,.ct-es-117,.ct-es-118,.ct-es-119,.ct-es-1110,.ct-es-1111,.ct-es-1112{
margin: 15px 2px;
text-align: center;
font-size: 21px;
text-shadow: 0px 2px 3px rgba(0,0,0,0.4), 0px 4px 7px rgba(0,0,0,0.1), 0px 9px 12px rgba(0,0,0,0.1);
display: inline-block;
text-transform: capitalize;
}
.homepage a,.ct-es-1112 a,.ct-es-1111 a,.ct-es-1110 a,.ct-es-119 a,.ct-es-118 a,.ct-es-117 a,.ct-es-116 a,.ct-es-115 a,.ct-es-114 a,.ct-es-113 a,.ct-es-112 a,.ct-es-111 a{
color: #fff;
border-radius: 50px;
padding: 10px;
box-shadow: 0 0 5px #2d2424;
-webkit-box-shadow: 0 0 5px #2d2424;
-moz-box-shadow: 0 0 5px #2d2424;
border: 2px solid #fff;
}
.homepage a{
background: #3220a2;
}
.ct-es-111 a{
background: #fd0404;
}
.ct-es-112 a{
background: #8e0202;
}
.ct-es-113 a{
background: #0d0c0c;
}
.ct-es-114 a{
background: #d70808;
}
.ct-es-115 a{
background: #000;
}
.ct-es-116 a{
background: #fd1994;
}
.ct-es-117 a{
background: #294f4f;
}
.ct-es-118 a{
background: #8a068a;
}
.ct-es-119 a{
background: #02028c;
}
.ct-es-1110 a{
background: #1c8fff;
}
.ct-es-1111 a{
background: #fb8a00;
}
.ct-es-1112 a{
background: #8305b9;
}
@media only screen and (max-width: 480px) {
.homepage,.ct-es-111,.ct-es-112,.ct-es-113,.ct-es-114,.ct-es-115,.ct-es-116,.ct-es-117,.ct-es-118,.ct-es-119,.ct-es-1110,.ct-es-1111,.ct-es-1112{
font-size: 17px;
}
.copy-style{
padding: 18px 4px;
}
#st-es-01 {
font-size: 22px;
}
#pt-es-11{
font-size: 24px;
}
h2{
font-size: 1.6em;
}
#e-do-a-5555{
font-size: 21px;
}
.e-co-333{
font-size: 2.2em;
width: calc(100% / 6);
}
#e-do-a-3333 .e-co-333{
font-size: 1.8em !important;
}
#e-do-a-5555{
height: 42px;
}
#copy{
padding: 8px;
right: -7px;
}
#close-icon{
right: 55px;
}
}
@media only screen and (min-width:481px) and (max-width:768px){
#st-es-01 {
font-size: 34px;
}
.e-co-333{
width: calc(100% / 7);
}
}